.milestones{
	position:relative;
  width:97%;
  margin:10px auto;
  min-height: 80px;
}
.progress-bar {
	background-image: -webkit-linear-gradient(top, #7DA9C4 0%, #4A809F 100%);
	background-image: -o-linear-gradient(top, #7DA9C4 0%, #4A809F 100%);
	background-image: linear-gradient(to bottom, #7DA9C4 0%, #4A809F 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7DA9C4', endColorstr='#ff4A809F', GradientType=0);
}
.ms-tick-empty{
	background-image: -webkit-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #dddddd 0%, #eeeeee 100%);
	background-image: linear-gradient(to bottom, #dddddd 0%, #eeeeee 100%);
}
.ms-tick-checked{
	background-color: #8CC4E6;
	background-image: -webkit-linear-gradient(top, #8CC4E6 0%, #72B7E0 100%);
	background-image: -o-linear-gradient(top, #8CC4E6 0%, #72B7E0 100%);
	background-image: linear-gradient(to bottom, #8CC4E6 0%, #72B7E0 100%);
}
.done{
	background:#E0E0E0
}
.ms-tick {
	position:absolute;
	top:-6px;
	display:inline-block;
	height:23px;
	width:20px;
	border:1px solid #D1D1D1;
}
.progress{
	height:10px;
}
.first{
	left:-5px;
}
.last{
	right:-5px;
}
.ms-tick-label {
	display:inline-block;
	position:absolute;
	top:30px;
}
.ms-tick .fa {
	font-size:32px;
	margin-top:-10px;
	margin-left:-3px;
}
.ms-checked{
	background-image: -webkit-linear-gradient(top, #EEBC11 0%, #E67300 100%);
	background-image: -o-linear-gradient(top, #EEBC11 0%, #E67300 100%);
	background-image: linear-gradient(to bottom, #EEBC11 0%, #E67300 100%);
	color:transparent;
	-webkit-background-clip: text;
	-clip: text;
} 
.ms-checkmark{
	background-image: -webkit-linear-gradient(top, #333 0%, #666 100%);
	background-image: -o-linear-gradient(top, #333 0%, #666 100%);
	background-image: linear-gradient(to bottom, #333 0%, #666 100%);
	color:transparent;
	-webkit-background-clip: text;
	-clip: text;
}
.checks{
	color:#333;
}
.ms-alt-label span{
	text-transform:uppercase;
	color:black;
}
.ms-alt-label{
	display:none;
	margin-top:65px;
	text-align:center;
	color:#006FA4;
}
@media (max-width: 765px){
	.ms-alt-label{
		display:block;
	}
	.labels label span{
		display:none;
	}
	.labels label:first-child:before {
		content: "S";
		position:relative;
		left:5px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:nth-child(2):before {
		content: "2";
		position:relative;
		left:10px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:nth-child(3):before {
		content: "3";
		position:relative;
		left:10px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:nth-child(4):before {
		content: "4";
		position:relative;
		left:10px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:nth-child(5):before {
		content: "5";
		position:relative;
		left:10px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:nth-child(6):before {
		content: "6";
		position:relative;
		left:10px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
	.labels label:last-child:before {
		content: "F";
		position:relative;
		left:-5px;
		font-size:18px;
		color: #00A800;
		font-weight: bold;
	}
}